extends ../../layout

block content
    .row
        .col-6.m-auto
            .card
                .card-header Request a Password Reset
                .card-body
                    form(method='post' action='/auth/password-reset/request')
                        .form-group.mb-2
                            label Email
                            input(type='email' name='email').form-control
                        .form-group
                            input(type='submit' value='Request').btn.btn-primary.w-100