extends ../../layout

block content
    .row
        .col-6.m-auto
            .card
                .card-header Reset
                .card-body
                    form(method='post' action='/auth/password-reset/reset?token=' + token + '&username=' + user.username)
                        .form-group.mb-2
                            label Password
                            input(type='password' name='password').form-control
                        .form-group.mb-2
                            label Repeat Password
                            input(type='password' name='passwordRepeat').form-control
                        .form-group
                            input(type='submit' value='Create Password').btn.btn-primary.w-100