doctype html
html
    head
        title Error
        link(rel='stylesheet', href='/css/style.css')
    body
        if showDetails
            h1= status
            h2= info
            pre #{error.stack}
        else
            h1 Error #{status}