extends ../../layout

block content
    .row
        .col
            h1 Item Purchases
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#new-purchase-modal').btn.text-primary
                    i.fas.fa-plus-square
                    span.ms-1 New
    ul.nav.nav-tabs.mb-3
        li.nav-item
            a.nav-link.active(href="/item-purchases/ordered") Ordered
        li.nav-item
            a.nav-link(href="/item-purchases/received") Received
        li.nav-item
            a.nav-link(href="/item-purchases/inventoried") Inventoried
        li.nav-item
            a.nav-link(href="/item-purchases/completed") Completed
        li.nav-item
            a.nav-link(href="/item-purchases/rejected") Rejected
    table#item-purchases-list-table
        thead
            tr
                th Description
                th Price
                th Items
                th
        tbody
            each row in purchases
                tr
                    td= row.description
                    td= row.price
                    td= row.items.length
                    td
                        a(href="/item-purchases/view/" + row.Id).btn.text-primary
                            i.fas.fa-eye
                            span.ms-1 View
    form(method='POST' action='/item-purchases/new').modal.fade#new-purchase-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title New Purchase
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Description
                        input(type='text' name='description').form-control
                    .form-group.mb-3
                        label Price
                        input(type='number' step=".01" name='price').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create

block scripts
    script(src='/js/item-purchases/list.js')
